@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: auto;
  font-style: normal;
}

#root {
  height: 100vh;
}

@layer components {
  .cancelBtn {
    @apply bg-gray-400 text-white px-4 min-w-[130px] py-2 rounded-lg;
  }
  .approveBtn {
    @apply px-4 py-2 text-white rounded-lg min-w-[130px] bg-green-500 font-semibold;
  }
}

/* Track */
::-webkit-scrollbar {
  width: 7px;
  position: fixed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
