@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf") format("truetype"); /* Adjust the path and format accordingly */
  font-weight: normal;
  font-style: normal;
}
